::selection 
{
	color: white;
	background-color: #f64747;
}
a 
{
	text-decoration: none;
}
body
{
	font-family: "Roboto", arial;
	font-size: 16px;
	margin: 0;
}
h2
{
	color: white;
	font-family: "Roboto";
	font-size: 18px;
	margin: 0;
	font-style: normal;	
	text-decoration: none;
}
header
{
	background-color: #29292a;
	height: 86px;
	width: 100%;
	position: fixed;
	box-shadow: 0px 0px 1px 1px #29292a;
	z-index: 999px;
}
header nav
{
	background-color: #29292a;
	height: 86px;
	margin: 0 auto;
	width: 90%;
}
header nav figure
{
	background-color: #f64747;
	height: 86px;
	margin: 0 auto;
	padding-top: 24px;
	padding-left: 14px;
	width: 119px;
	box-shadow: 0px 0px 1px 1px #c6453e;
}
header nav figure img
{
	width: 94px;
}
.clear { clear: both; }
footer
{
	background-color: #f64747; 
	min-height: 200px;
	width: 100%;
}
.clear { clear: both; }
footer #contenido_footer
{ 
	min-height: 200px;
	margin: 0 auto;
	text-align:center;
	width: 90%;
}
footer #contenido_footer img
{
	padding-top: 30px;
	margin: auto 10px;
	width: 44px;
}
section p 
{
	color: white;
	font-family: "Roboto", arial;
	font-size: 14px;
	margin: 10 0 0 0;
	line-height: 20px;
}
.clear { clear: both; }
#servicios
{
	min-height: 1000px;
	padding-top: 140px;
	width: 100%;
}
#contenido_servicios
{
	width: 90%;
	margin: auto;
}
.sitio_portafolio
{
	width: 225px;
	height: 325px;
	margin: 10px 25px;
	float: left;
}
h3
{
	color: #29292a;
	font-family: "Roboto";
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	font-style: normal;	
	text-decoration: none;
}
p
{
	color: #29292a;
	font-family: "Roboto";
	font-size: 14px;
	margin: 0;
	font-style: normal;	
	text-decoration: none;
	line-height: 20px;
}




